<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dlwx.repast">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            >

        </activity>
        <activity android:name=".view.activity.ScRecordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            />
        <activity android:name=".view.activity.HistoryRecordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            />
        <activity android:name=".view.activity.NumDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            />


        <activity android:name=".view.activity.OrderDataActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            />
        <activity android:name=".view.activity.DataDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            />
        <activity android:name=".view.activity.VerifySuccessActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            />
        <activity android:name=".view.activity.InputActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            />
        <activity android:name=".view.activity.SettCenterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            />
        <activity android:name=".view.activity.ChangePWdActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            />
        <activity android:name=".view.activity.ChangePhoneActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.dlwx.repast.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>v

        <activity android:name=".view.activity.ChangeNickNameActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            />
        <activity android:name=".view.activity.WebActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            />
        <activity android:name=".view.activity.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            />
        <activity android:name=".view.activity.RegisterActivity"
            android:launchMode="singleTop"
               />
        <activity android:name=".scancode.zxing.CaptureActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            />
        <activity android:name=".view.activity.ForgetPwdActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".view.activity.FlashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".view.activity.GuiDeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            />
    </application>

</manifest>